<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,minimum-scale=0.5,maximum-scale=0.5,user-scalable=no">
    <title><%=htmlWebpackPlugin.options.title%></title>
  </head>
  <body>
    <div id="root"></div>
    <script src="http://res.wx.qq.com/open/js/jweixin-1.2.0.js"></script>
<script>
wx.config({
  debug: true,
  appId: 'wxda0a921ee8137968',
  timestamp: '1507970208',
  nonceStr: '10bepndyk606s9g',
  signature: '2e4b31e2ab9a136d9d5c7ec9c88bb01be1ee0700',
  jsApiList: ['startRecord', 'stopRecord']
});
</script>
  </body>
</html>
